# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/MGall_R_analysis/.Rproj.user/
/MGall_R_analysis/.RData
/MGall_R_analysis/.Rhistory
/.vscode/settings.json
/Scripts/MG_modelling/Models/.__pycache__/